@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@360;400&display=swap');

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background: #0b0b0b;
    color: white;
    font-family: 'Victor Mono', monospace;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #ffffff;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.hero {
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    z-index: -1000;
}

.section {
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    padding: 2rem;
    z-index: 1000;
}

.hero>* {
    margin: 0;
}

.hero>canvas {
    position: fixed;
    z-index: -1000;
    opacity: 1;
    align-self: center;
    justify-self: center;
    top: 0;
}

.title {
    text-align: center;
    margin-bottom: 0.1rem;
    font-family: 'Courier New', Courier, monospace;
}

.title:hover {
    cursor: crosshair;
}

.fine {
    font-size: 1.5rem;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-right: 1rem;
    padding: 0 2.5rem;
    background: #fff;
    color: black;
}

.dashed-pattern {
    /* background: repeating-linear-gradient(90deg, white, white 0.1rem, transparent 0, transparent 0.75rem); */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25), white);
}

.nav-container {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.nav>.seperator {
    font-size: 2rem;
    margin: 0;
    cursor: default;
}

.nav>:not(.seperator):hover {
    cursor: pointer;
}

.warn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 305px;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid white;
    z-index: 1000;
}

.warn>.symbol {
    font-size: 2.5em;
    margin: 0;
    line-height: 1rem;
}
